html,
body,
h3 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

option {
  padding: 5px 0 5px 5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.wrapper .content {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.wrapper .content #map {
  width: 100%;
  flex: 1;
}

.wrapper .content .search #searchList {
  position: absolute;
  z-index: 100
}

.wrapper .panel {
  height: 100%;
  flex: 1;
  padding: 15px 30px;
}

.wrapper .panel .title {
  font-size: 24px;
  font-weight: 600;
}

.block {
  margin-top: 20px;
  padding: 10px 20px;
  background: #f1efec;
}

.text {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.information {
  height: 200px;
  background: #f1efec;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.information .header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.information .header span:nth-child(2) {
  color: #367d7e;
}

.information .row {
  display: flex;
  justify-content: space-between;
}

.information .row .left {
  display: flex;
  align-items: center;
}

.information .row .left .total {
  margin-left: 15px;
}

.information .row .left .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 15px;
}

.information .row .left .circle.low1 {
  background: #a3ccfa;
}

.information .row .left .circle.mid1 {
  background: #5098c7;
}

.information .row .left .circle.high1 {
  background: #286595;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.information .legend {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 20px;
}

.information .legend .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information .legend .first .no-data {
  background: gray;
}

.information .legend .second .affordable {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.information .legend .second .affordable .low {
  background: #a3ccfa;
}

.information .legend .second .affordable .mid {
  background: #5098c7;
}

.information .legend .second .affordable .high {
  background: #286595;
}

.information .legend .third .unaffordable {
  background: red;
}